.searchBar {
    position: absolute;
    top: 50px;
    text-align: center;
    background: #e0e1e5;
    height: 40px;
    line-height: 40px;
    width: 100%;
    input {
        outline: none;
        border: none;
        width: 80%;
        height: 20px;
        border-radius: 10px;
        padding: 0 10px;
        margin-top: 10px;
    }
}