.userWrap {
    position: relative;
    top: 50px;
    .functionItem {
        padding: 0.1rem;
        border-bottom: 1px solid #444;
    }
    .functionItem:nth-of-type(1) {
        border-top: 1px solid #444;
    }
}