.userWrap {
    position: relative;
    top: 0.8rem;
    .functionItem {
        padding: 0.1rem;
        /*margin: -1px 0;*/
        border-bottom: 1px solid #444;
    }
    .functionItem:nth-of-type(1) {
        border-top: 1px solid #444;
    }
}